.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin: 1rem 0;
  border-top: 1px solid white;
}

.pagination__pages {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-family);
}

.pagination__ctrl {
  width: 2rem;
  height: 2rem;
  margin: 0 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style: none;
  text-decoration: none;
  border: 1px solid rgb(146, 146, 146);
  transition: background-color 0.3s;
  cursor: pointer;
  min-width: fit-content;
}

.pagination li.active {
  background-color: green;
}

.pagination__ctrl:hover:not(.active) {
  background-color: rgb(87, 87, 87);
}
