.item-details-bottom {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background: grey;
}

.description-title {
  margin: 1rem 0;
}

.item-details-bottom__description {
  margin-bottom: 1rem;
}

.item-details-bottom__info div {
  display: flex;
  padding: 5px;
  border-radius: 10px;
}
.item-details-bottom__info .row-title {
  width: 7rem;
}

.item-details-bottom__info .row-info {
  width: auto;
}

.item-details-bottom__info .row:nth-of-type(odd) {
  background: rgb(190, 190, 190);
}

@media screen and (max-width: 820px) {
  .item-details-bottom__description {
    text-align: justify;
  }
  .item-details-bottom {
    width: 100%;
    border-radius: 0;
  }
}
