.search-bar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
  background: white;
  font-family: var(--font-family);
}

.search-bar .input {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  border: none;
}

.search-bar button {
  height: 100%;
  width: 10%;
  border: none;
  cursor: pointer;
  background: white;
}
