.rental-list {
  max-width: fit-content;
  margin: 0 auto;
  font-family: var(--font-family);
  padding-top: 1rem;
}

.rental-list__titles {
  display: flex;
}

.rental-list__titles div {
  padding: 0 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  font-size: 0.9rem;
}
.rental-list__titles div:nth-child(1) {
  width: 12rem;
}
.rental-list__titles div:nth-child(2) {
  width: 12rem;
}
.rental-list__titles div:nth-child(3) {
  width: 10rem;
}
.rental-list__titles div:nth-child(4) {
  width: 7rem;
}

@media screen and (max-width: 820px) {
  .rental-list__titles div {
    padding: 0 1rem;
    font-weight: bold;
    text-decoration: underline;
  }
  .rental-list__titles div:nth-child(1) {
    width: 10rem;
  }
  .rental-list__titles div:nth-child(2) {
    width: 10rem;
  }
  .rental-list__titles div:nth-child(3) {
    width: 8rem;
  }
  .rental-list__titles div:nth-child(4) {
    width: 5rem;
  }
}

@media screen and (max-width: 530px) {
  .rental-list {
    min-width: 100%;
  }
  .rental-list__titles {
    display: none;
  }
}
