.item-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: rgb(185, 185, 185);
  margin: 0.5rem 0;
}

.item-row div {
  width: 200px;
  padding: 1rem 2rem;
}

.item-row .opt {
  text-align: center;
}
.item-row .opt svg {
  margin: 0 1rem;
  scale: 1.5;
}
.item-row .opt :nth-child(1) {
  color: orange;
}
.item-row .opt :nth-child(2) {
  color: red;
}
