.customer-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: rgb(185, 185, 185);
  margin: 0.5rem 0;
  border-radius: 1rem;
}

.customer-row .field {
  width: 15rem;
  padding: 1rem 1.5rem;
}
.customer-row .customer {
  width: 12rem;
}
.customer-row .email {
  width: 15rem;
}
.customer-row .phone {
  width: 10rem;
}
.customer-row .opt {
  width: 9rem;
}

.customer-row .opt {
  text-align: center;
}
.customer-row .opt .admin-red {
  color: red;
}
.customer-row .opt .admin-normal {
  color: white;
}
.customer-row .opt svg {
  margin: 0 1rem;
  scale: 1.5;
}
.customer-row .opt .edit {
  color: orange;
}

@media screen and (max-width: 820px) {
  .customer-row {
    font-size: 0.9rem;
  }
  .customer-row .field {
    padding: 0.8rem 1rem;
  }
  .customer-row .customer {
    width: 10rem;
  }
  .customer-row .email {
    width: 12rem;
  }
  .customer-row .phone {
    width: 8rem;
  }  
}

@media screen and (max-width: 630px) {
  .customer-row{
    justify-content: end;
  }
  .customer-row .field {
    width: 33%;
  }
}
@media screen and (max-width: 300px) {
  .customer-row{
    font-size: .6rem;
    justify-content: start;
  }
  .customer-row .field {
    width: 50%;
  }
  .customer-row .opt {
    margin-left: -1.7rem;
  }
}
